.sidebar{
  font-family: Poppins;
    height: 100%; 
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    order: -1;
    background-color:#242424;
    width:300px; 
    overflow:auto;
  }